header {
    // background-color:lightcyan;
    display:flex; justify-content:space-between; align-items:center;
    position:fixed; top:0; width:100%; z-index:999;
    padding:20px 50px;
    h1 {}
    .menu {font-weight:700; color:#fff;}
}
main {
    //애니메이션 class
    .transl {transform:translateY(100px); opacity:0;}
    .transreset {transform:translateY(0); opacity:1;}
    //고정
    .reservations {
        a {
            position:fixed; bottom:30px; right:30px; z-index:990;
            border:2px solid #fff; border-radius:10px; padding:10px 20px; color:#fff;}
    } 
    //bg공통설정
    .bg {
        background:no-repeat; background-attachment:fixed; height:100vh;
    }
    .bg1 {background-image:url(../images/main_bg_new2.jpg);}
    .bg2 {background-image:url(../images/main_con2_bg.jpg);}
    .bg3 {background-image:url(../images/main_con3_bg.jpg);}
    .bg4 {background-image:url(../images/main_con5_bg-.jpg);}
    .bg {
        padding:100px;
        h1 {color:#fff; font-weight:700; font-size:3rem;}
        p {
            color:#fff; margin-top:20px; line-height:1.8;
        }
    }
    .bg1 {
        h1 {color:#fff; font-weight:700; font-size:3rem; text-align:center; line-height:100vh;}
    }
}
footer {
    display:flex; justify-content:space-between; align-items:center;
    background-color:#000; padding:40px 250px;
    p {color:#aaa;}
}