header {background-color:aqua;
    /* overflow:hodden; */
    /* height:100px; */
}
header::after {clear:both; display:block; content:'';}
header h1 {
    background-color:lightgrey;
    float:left;
}
header form {background-color:yellowgreen;
    float:left;
}
header .lnb {background-color:pink;
    float:right;
}
header .lnb a {}
header h1, header form, header .lnb {width:100px; height:100px;}
main {}
main .path {}
main .path .skip {}
main .path .skip span {}
main .path dd span::after {
    display:inline; content:'\f105';
}
main .path .blog .awesome::after, main .path .blog .awesome::before {display:inline; content:'\f105';}