#t2 {
    /* background-color:lemonchiffon; */
    width:1200px;
    margin:40px auto 0 auto;
    border-top:2px solid #333;
}
#t2 thead {
    /* background-color:lightblue; */
    border-bottom:1px solid #e5e5e5;
}
#t2 thead tr {
    padding:30px 0;}
#t2 thead tr th {}
#t2 tbody {
    /* background-color:pink; */
    text-align:center;
}
#t2 tbody tr {
    font-size:0.938rem;
    border-bottom:1px solid #e5e5e5;
}
#t2 tbody tr th {
    line-height:20px;
}
#t2 tbody tr th:first-of-type {
    font-weight:700;
}
#t2 tbody tr th:last-of-type {
    text-align:left;
}
#t2 tbody tr td {
    line-height:20px;
}
#t2 tbody tr td:first-of-type {
    width:120px;
}
#t2 tbody tr td:nth-of-type(4) {
    font-size:1.250rem;
}
#t2 tbody tr td span {}
#t2 tbody tr td .t_border {
    font-weight:700;
}
#t2 tbody tr td .join {
    border:1px solid #e5e5e5;
    background-color:#fff;
    border-radius:5px;
    padding:7px 5px;
}
#t2 tbody tr td a {
    border-radius:10px;
    padding:7px 5px;
}
#t2 tbody tr td em {
    color:#ec018c;
    font-size:1.250rem;
}
#t2 .sub_text {
    font-size:0.813rem;
}
#t2 th {
    padding:30px 0;
}
#t2 tbody tr .t_purple {
    color:#fff;
    background-color:#c286ff;
    border-radius:5px;
    display:inline-block;
    padding:7px 5px;
}